# POSTTEST 4

### Nama : Maya Agustina
### NIM : 2209106005
### Kelas : Informatika A 2022

## Data Preprocessing

In [41]:
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from statistics import mode
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('diamonds.csv')
df.head()

   carat         cut color clarity  depth  table  price   'x'   'y'   'z'
0   0.23    b'Ideal'  b'E'  b'SI2'   61.5   55.0  326.0  3.95  3.98  2.43
1   0.21  b'Premium'  b'E'  b'SI1'   59.8   61.0  326.0  3.89  3.84  2.31
2   0.23     b'Good'  b'E'  b'VS1'   56.9   65.0  327.0  4.05  4.07  2.31
3   0.29  b'Premium'  b'I'  b'VS2'   62.4   58.0  334.0  4.20  4.23  2.63
4   0.31     b'Good'  b'J'  b'SI2'   63.3   58.0  335.0  4.34  4.35  2.75

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  float64
 7   'x'      53940 non-null  float64
 8   'y'      53940 non-null  float64
 9   'z'      53940 non-null  float64
dtypes: float64(7), object(3)
memory usage: 4.1+ MB

In [4]:
#mengecek nilai null
df.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
'x'        0
'y'        0
'z'        0
dtype: int64

### Membagi Dataset Menjadi Training Set Dan Testing Set

In [7]:
# Load dataset (ganti dengan lokasi file CSV Anda jika perlu)
df = pd.read_csv('diamonds.csv')

In [8]:
# Pisahkan fitur (X) dan target (y)
X = df.drop('price', axis=1)  # X adalah semua kolom kecuali 'price'
y = df['price']  # y adalah kolom 'price'

In [9]:
# Bagi dataset menjadi training set dan testing set (70:30)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

Proporsi pemisahan training set dan testing set ditentukan oleh test_size, di sini diatur menjadi 0.3 untuk membaginya menjadi 70% training set dan 30% testing set.

## Memeriksa dataset yang telah bagi menjadi training set dan testing set.

Melihat Dimensi Data :

In [10]:
# Ini akan memberi Anda informasi tentang berapa banyak data yang ada di setiap set.
print("Dimensi Training Set:", X_train.shape)
print("Dimensi Testing Set:", X_test.shape)

Dimensi Training Set: (37758, 9)
Dimensi Testing Set: (16182, 9)

Melihat Sampel Data

In [12]:
# Ini akan menunjukkan contoh-contoh data yang ada di setiap set.
print("Contoh Data Training Set:\n", X_train.head())
print("Contoh Data Testing Set:\n", X_test.head())

Contoh Data Training Set:
        carat       cut color  clarity  depth  table   'x'   'y'   'z'
19497   1.21  b'Ideal'  b'H'  b'VVS2'   61.3   57.0  6.92  6.87  4.23
31229   0.31  b'Ideal'  b'E'   b'VS2'   62.0   56.0  4.38  4.36  2.71
22311   1.21  b'Ideal'  b'E'   b'VS1'   62.4   57.0  6.75  6.83  4.24
278     0.81  b'Ideal'  b'F'   b'SI2'   62.6   55.0  5.92  5.96  3.72
6646    0.79  b'Ideal'  b'I'  b'VVS2'   61.7   56.0  5.94  5.95  3.67
Contoh Data Testing Set:
        carat           cut color  clarity  depth  table   'x'   'y'   'z'
1388    0.24      b'Ideal'  b'G'  b'VVS1'   62.1   56.0  3.97  4.00  2.47
50052   0.58  b'Very Good'  b'F'  b'VVS2'   60.0   57.0  5.44  5.42  3.26
41645   0.40      b'Ideal'  b'E'  b'VVS2'   62.1   55.0  4.76  4.74  2.95
42377   0.43    b'Premium'  b'E'  b'VVS2'   60.8   57.0  4.92  4.89  2.98
17244   1.55      b'Ideal'  b'E'   b'SI2'   62.3   55.0  7.44  7.37  4.61

Statistik Deskriptif :

In [13]:
# Memeriksa apakah fitur-fitur di kedua dataset sama
print("Statistik Deskriptif Training Set:\n", X_train.describe())
print("Statistik Deskriptif Testing Set:\n", X_test.describe())

Statistik Deskriptif Training Set:
               carat         depth         table           'x'           'y'  \
count  37758.000000  37758.000000  37758.000000  37758.000000  37758.000000
mean       0.799763     61.744923     57.461129      5.735377      5.738825
std        0.475556      1.428630      2.226637      1.122262      1.146605
min        0.200000     43.000000     43.000000      0.000000      0.000000
25%        0.400000     61.000000     56.000000      4.720000      4.730000
50%        0.700000     61.800000     57.000000      5.700000      5.710000
75%        1.040000     62.500000     59.000000      6.540000      6.540000
max        5.010000     79.000000     95.000000     10.740000     58.900000

                'z'
count  37758.000000
mean       3.541152
std        0.711444
min        0.000000
25%        2.910000
50%        3.530000
75%        4.040000
max       31.800000
Statistik Deskriptif Testing Set:
               carat         depth         table           'x'           'y'  \
count  16182.000000  16182.000000  16182.000000  16182.000000  16182.000000
mean       0.793686     61.759863     57.447979      5.721311      5.724495
std        0.470375      1.441881      2.252752      1.120562      1.131607
min        0.200000     43.000000     49.000000      0.000000      0.000000
25%        0.400000     61.100000     56.000000      4.700000      4.710000
50%        0.700000     61.900000     57.000000      5.690000      5.710000
75%        1.040000     62.500000     59.000000      6.530000      6.530000
max        4.010000     79.000000     73.000000     10.140000     31.800000

                'z'
count  16182.000000
mean       3.533092
std        0.692098
min        0.000000
25%        2.900000
50%        3.520000
75%        4.030000
max        6.310000

### Normalisasi data pada salah satu attribute menggunakan Min Max scaler (buatlah copy dataset terlebih dahulu)

In [21]:
# Load dataset (ganti dengan lokasi file CSV Anda jika perlu)
df = pd.read_csv('diamonds.csv')

In [22]:
# Buat salinan dataset
df_copy = df.copy()

In [23]:
# Inisialisasi Min-Max Scaler
scaler = MinMaxScaler()

In [24]:
# Tentukan atribut yang akan dinormalisasi (contoh: 'carat')
attribute_to_normalize = 'carat'

In [25]:
# Lakukan normalisasi pada atribut tersebut
df_copy[attribute_to_normalize] = scaler.fit_transform(df_copy[[attribute_to_normalize]])

In [38]:
# Melihat hasilnya dengan mencetak beberapa baris pertama dataset:
print(df_copy.head())

      carat         cut color clarity  depth  table  price   'x'   'y'   'z'
0 -1.198168    b'Ideal'  b'E'  b'SI2'   61.5   55.0  326.0  3.95  3.98  2.43
1 -1.240361  b'Premium'  b'E'  b'SI1'   59.8   61.0  326.0  3.89  3.84  2.31
2 -1.198168     b'Good'  b'E'  b'VS1'   56.9   65.0  327.0  4.05  4.07  2.31
3 -1.071587  b'Premium'  b'I'  b'VS2'   62.4   58.0  334.0  4.20  4.23  2.63
4 -1.029394     b'Good'  b'J'  b'SI2'   63.3   58.0  335.0  4.34  4.35  2.75

In [39]:
# Simpan salinan dataset yang telah dinormalisasi ke file CSV jika diperlukan
df_copy.to_csv('diamonds_copy1.csv', index=False)

Standarisasi pada dataset (buatlah copy dataset terlebih dahulu)

In [31]:
# Load dataset (ganti dengan lokasi file CSV Anda jika perlu)
df = pd.read_csv('diamonds.csv')

In [32]:
# Buat salinan dataset
df_copy = df.copy()

In [33]:
# Inisialisasi Standard Scaler
scaler = StandardScaler()

In [35]:
# Tentukan atribut yang akan distandarisasi (contoh: 'carat')
attribute_to_standardize = 'carat'

In [36]:
# Lakukan standarisasi pada atribut tersebut
df_copy[attribute_to_standardize] = scaler.fit_transform(df_copy[[attribute_to_standardize]])

In [37]:
# Sekarang, 'carat' telah distandarisasi dalam salinan dataset df_copy.
# Anda dapat melihat hasilnya dengan mencetak beberapa baris pertama dataset:
print(df_copy.head())

      carat         cut color clarity  depth  table  price   'x'   'y'   'z'
0 -1.198168    b'Ideal'  b'E'  b'SI2'   61.5   55.0  326.0  3.95  3.98  2.43
1 -1.240361  b'Premium'  b'E'  b'SI1'   59.8   61.0  326.0  3.89  3.84  2.31
2 -1.198168     b'Good'  b'E'  b'VS1'   56.9   65.0  327.0  4.05  4.07  2.31
3 -1.071587  b'Premium'  b'I'  b'VS2'   62.4   58.0  334.0  4.20  4.23  2.63
4 -1.029394     b'Good'  b'J'  b'SI2'   63.3   58.0  335.0  4.34  4.35  2.75

In [40]:
# Simpan salinan dataset yang telah distandarisasi ke file CSV jika diperlukan
df_copy.to_csv('diamonds_copy2.csv', index=False)

### Data Cleaning pada data dengan nilai null.

In [42]:
# Mengecek data null
df.isna().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
'x'        0
'y'        0
'z'        0
dtype: int64

Karena tidak ada data yang bernilai null maka akan menambah nilai null terlebih dahulu.a

In [83]:
df = pd.read_csv('diamonds.csv')

In [84]:
# Tambahkan beberapa nilai null ke dataset (contoh: pada kolom 'carat' dan 'color')
df.loc[df.sample(frac=0.1).index, 'carat'] = np.nan
df.loc[df.sample(frac=0.1).index, 'color'] = np.nan

In [85]:
# Mengecek data null
df.isna().sum()

carat      5394
cut           0
color      5394
clarity       0
depth         0
table         0
price         0
'x'           0
'y'           0
'z'           0
dtype: int64

Ganti nilai null sesuai ketentuan. (bilangan bulat : median/modus, bilangan desimal : mean, tulisan : modus) menggunakan strategi 3 nilai.

In [86]:
# Fungsi untuk mengganti nilai null dengan strategi 3 nilai
def replace_null_with_3_values(column):
    # Jika kolom memiliki tipe data numerik (int atau float)
    if pd.api.types.is_numeric_dtype(column):
        median_value = column.median()
        mean_value = column.mean()
        mode_value = column.mode().values[0]
        column.fillna({'median': median_value, 'mean': mean_value, 'mode': mode_value}, inplace=True)
    # Jika kolom memiliki tipe data string
    elif pd.api.types.is_string_dtype(column):
        mode_value = mode(column)
        column.fillna(mode_value, inplace=True)
    return column

In [87]:
# Panggil fungsi untuk melakukan penggantian nilai null
df = replace_null_values(df)

Mengecek kembali data setelah cleaning dilakukan

In [88]:
df.isna().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
'x'        0
'y'        0
'z'        0
dtype: int64

### Data cleaning pada data dengan nilai duplikat. (Jika tidak ada nilai duplikat pada dataset, maka buatlah menjadi ada)

In [58]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
53935    False
53936    False
53937    False
53938    False
53939    False
Length: 53847, dtype: bool

In [111]:
# Tambahkan beberapa nilai duplikat ke dataset (contoh: duplikasi beberapa baris)
df = pd.concat([df, df.sample(n=3, random_state=42)])

In [112]:
# Sekarang, dataset memiliki beberapa nilai duplikat.
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
50052     True
41645     True
1388      True
19841     True
41647     True
Length: 53946, dtype: bool

In [115]:
df.drop_duplicates(inplace=True)

In [116]:
# Sekarang, nilai duplikat telah dihapus dari dataset 'diamonds'.
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
53935    False
53936    False
53937    False
53938    False
53939    False
Length: 53794, dtype: bool

### Ganti Tipe Data Salah Satu Atributte Angka

Mengubah tipe data dari atribut 'price' dari float64 ke int64

In [127]:
df['price'] = df['price'].astype('int64')

In [128]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 53794 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53794 non-null  float64
 1   cut      53794 non-null  object
 2   color    53794 non-null  object
 3   clarity  53794 non-null  object
 4   depth    53794 non-null  float64
 5   table    53794 non-null  float64
 6   price    53794 non-null  int64
 7   'x'      53794 non-null  float64
 8   'y'      53794 non-null  float64
 9   'z'      53794 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.5+ MB

### One Hot Encoding Pada Dataset.

In [129]:
df.head()

   carat         cut color clarity  depth  table  price   'x'   'y'   'z'
0   0.23    b'Ideal'  b'E'  b'SI2'   61.5   55.0    326  3.95  3.98  2.43
1   0.21  b'Premium'  b'E'  b'SI1'   59.8   61.0    326  3.89  3.84  2.31
2   0.23     b'Good'  b'E'  b'VS1'   56.9   65.0    327  4.05  4.07  2.31
3   0.29  b'Premium'  b'I'  b'VS2'   62.4   58.0    334  4.20  4.23  2.63
4   0.31     b'Good'  b'J'  b'SI2'   63.3   58.0    335  4.34  4.35  2.75

In [134]:
# Lakukan one-hot encoding pada kolom kategorikal
df_encoded = pd.get_dummies(df, columns=['cut', 'color', 'clarity'])

One-hot encoding adalah teknik yang digunakan untuk mengubah data kategorikal menjadi representasi biner yang dapat digunakan oleh algoritma pembelajaran mesin. Sebab itu memasukkan data-data kategorikal.

In [135]:
# Tampilkan DataFrame hasil one-hot encoding
print(df_encoded)

       carat  depth  table  price   'x'   'y'   'z'  cut_b'Fair'  cut_b'Good'  \
0       0.23   61.5   55.0    326  3.95  3.98  2.43        False        False
1       0.21   59.8   61.0    326  3.89  3.84  2.31        False        False
2       0.23   56.9   65.0    327  4.05  4.07  2.31        False         True
3       0.29   62.4   58.0    334  4.20  4.23  2.63        False        False
4       0.31   63.3   58.0    335  4.34  4.35  2.75        False         True
...      ...    ...    ...    ...   ...   ...   ...          ...          ...
53935   0.72   60.8   57.0   2757  5.75  5.76  3.50        False        False
53936   0.72   63.1   55.0   2757  5.69  5.75  3.61        False         True
53937   0.70   62.8   60.0   2757  5.66  5.68  3.56        False        False
53938   0.86   61.0   58.0   2757  6.15  6.12  3.74        False        False
53939   0.75   62.2   55.0   2757  5.83  5.87  3.64        False        False

       cut_b'Ideal'  ...  color_b'I'  color_b'J'  clarity_b'I1'  \
0              True  ...       False       False          False
1             False  ...       False       False          False
2             False  ...       False       False          False
3             False  ...        True       False          False
4             False  ...       False        True          False
...             ...  ...         ...         ...            ...
53935          True  ...       False       False          False
53936         False  ...       False       False          False
53937         False  ...       False       False          False
53938         False  ...       False       False          False
53939          True  ...       False       False          False

       clarity_b'IF'  clarity_b'SI1'  clarity_b'SI2'  clarity_b'VS1'  \
0              False           False            True           False
1              False            True           False           False
2              False           False           False            True
3              False           False           False           False
4              False           False            True           False
...              ...             ...             ...             ...
53935          False            True           False           False
53936          False            True           False           False
53937          False            True           False           False
53938          False           False            True           False
53939          False           False            True           False

       clarity_b'VS2'  clarity_b'VVS1'  clarity_b'VVS2'
0               False            False            False
1               False            False            False
2               False            False            False
3                True            False            False
4               False            False            False
...               ...              ...              ...
53935           False            False            False
53936           False            False            False
53937           False            False            False
53938           False            False            False
53939           False            False            False

[53794 rows x 27 columns]

In [136]:
# Lakukan one-hot encoding pada kolom yang dijadikan target'price'
df_encoded = pd.get_dummies(df, columns=['price'])

In [137]:
# Tampilkan DataFrame hasil one-hot encoding
print(df_encoded)

       carat           cut color clarity  depth  table   'x'   'y'   'z'  \
0       0.23      b'Ideal'  b'E'  b'SI2'   61.5   55.0  3.95  3.98  2.43
1       0.21    b'Premium'  b'E'  b'SI1'   59.8   61.0  3.89  3.84  2.31
2       0.23       b'Good'  b'E'  b'VS1'   56.9   65.0  4.05  4.07  2.31
3       0.29    b'Premium'  b'I'  b'VS2'   62.4   58.0  4.20  4.23  2.63
4       0.31       b'Good'  b'J'  b'SI2'   63.3   58.0  4.34  4.35  2.75
...      ...           ...   ...     ...    ...    ...   ...   ...   ...
53935   0.72      b'Ideal'  b'D'  b'SI1'   60.8   57.0  5.75  5.76  3.50
53936   0.72       b'Good'  b'D'  b'SI1'   63.1   55.0  5.69  5.75  3.61
53937   0.70  b'Very Good'  b'D'  b'SI1'   62.8   60.0  5.66  5.68  3.56
53938   0.86    b'Premium'  b'H'  b'SI2'   61.0   58.0  6.15  6.12  3.74
53939   0.75      b'Ideal'  b'D'  b'SI2'   62.2   55.0  5.83  5.87  3.64

       price_326  ...  price_18787  price_18788  price_18791  price_18795  \
0           True  ...        False        False        False        False
1           True  ...        False        False        False        False
2          False  ...        False        False        False        False
3          False  ...        False        False        False        False
4          False  ...        False        False        False        False
...          ...  ...          ...          ...          ...          ...
53935      False  ...        False        False        False        False
53936      False  ...        False        False        False        False
53937      False  ...        False        False        False        False
53938      False  ...        False        False        False        False
53939      False  ...        False        False        False        False

       price_18797  price_18803  price_18804  price_18806  price_18818  \
0            False        False        False        False        False
1            False        False        False        False        False
2            False        False        False        False        False
3            False        False        False        False        False
4            False        False        False        False        False
...            ...          ...          ...          ...          ...
53935        False        False        False        False        False
53936        False        False        False        False        False
53937        False        False        False        False        False
53938        False        False        False        False        False
53939        False        False        False        False        False

       price_18823
0            False
1            False
2            False
3            False
4            False
...            ...
53935        False
53936        False
53937        False
53938        False
53939        False

[53794 rows x 11611 columns]